# Cle Tailscale (obligatoire)
# Genere-la sur : https://login.tailscale.com/admin/settings/keys
# Coche "Reusable" lors de la creation
TAILSCALE_AUTHKEY=tskey-auth-xxxxx

# Nom de l'app dans Tailscale (ce qui apparait dans l'URL)
# L'app sera accessible a : https://todolist.<ton-tailnet>.ts.net
TS_HOSTNAME=todolist

# Port interne (pas besoin de changer)
PORT=3000
